<div class="example-large-box mat-elevation-z4">

    <mat-grid-list cols="4" rowHeight="290px">

        <!-- <mat-grid-tile style="margin-left: 30px;">
            <mat-card class="example-card1">
                <mat-card-content>
                    <div class="example-container">
                        <form class="example-form" #N="ngForm" (ngSubmit)="NTPSubmit(N)" novalidate>

                            <table>
                                <tbody>
                                    <tr>
                                        <mat-checkbox name="NTPcheck" value="NTPcheck" ngModel required
                                            #HostName="ngModel" class="example-margin">Enable NTP</mat-checkbox>
                                    </tr>
                                    <tr>

                                        <td class="container">
                                            <label class="lbl" for="Student">NTP Server:</label>
                                        </td>
                                        <td class="container">
                                            <input matInput placeholder="pool.ntp.org" name="NTPServer"
                                                value="NTPServer" ngModel required #HostName="ngModel">
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <button class="btncolor1" type="submit">Submit</button>
                                        </td>
                                        <td>
                                            <button class="btncolor2">Update now</button>
                                        </td>
                                        <td>
                                            <button class="btncolor3">Default</button>

                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </form>

                    </div>
                    <div class="example-container" style="margin-top: -20px;">
                        <form class="example-form" #TZ="ngForm" (ngSubmit)="TIMEZONESubmit(TZ)" novalidate>

                            <table>
                                <tbody>

                                    <tr>
                                        <h4>Daylight saving</h4>
                                        <mat-form-field appearance="fill">
                                            <mat-label>GMT +01:00|Europe/Zurich</mat-label>
                                            <select matNativeControl required name="TIMEZONESubmit"
                                                value="TIMEZONESubmit" ngModel required #HostName="ngModel"
                                                class="example-margin">
                                                <option value="volvo">Volvo</option>
                                                <option value="saab">Saab</option>
                                                <option value="mercedes">Mercedes</option>
                                                <option value="audi">Audi</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <button type="submit" class="btncolor1">Submit</button>

                                    </tr>

                                </tbody>

                            </table>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile> -->


        <mat-grid-tile colspan=3>
            <mat-card class="example-card3">
                <mat-card-content>
                    <div class="example-container">
                        <form class="example-form" #T="ngForm" (ngSubmit)="TIMESubmit(T)" novalidate>

                            <table>
                                <!-- *ngFor="let data of dataSource;"   -->
                                <tbody>
                                    <h4>Set Time Manually</h4>
                                    <tr>
                                        <td>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Year</mat-label>
                                                <select matNativeControl required name="year" value="year" ngModel
                                                    required #HostName="ngModel" class="example-margin">
                                                    <option value="volvo">2020</option>
                                                    <option value="saab">2019</option>
                                                    <option value="mercedes">2018</option>
                                                </select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Month</mat-label>
                                                <select matNativeControl required name="month" value="month" ngModel
                                                    required #HostName="ngModel" class="example-margin">
                                                    <option value="volvo">sep</option>
                                                    <option value="saab">oct</option>
                                                    <option value="mercedes">nov</option>
                                                </select>
                                            </mat-form-field>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Day</mat-label>
                                                <select matNativeControl required name="day" value="day" ngModel
                                                    required #HostName="ngModel" class="example-margin">
                                                    <option value="volvo">28</option>
                                                    <option value="saab">27</option>
                                                    <option value="mercedes">26</option>
                                                </select>
                                            </mat-form-field>
                                        </td>
                                    <tr>
                                        <td>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Hour</mat-label>
                                                <select matNativeControl required name="Hour" value="Hour" ngModel
                                                    required #HostName="ngModel" class="example-margin">
                                                    <option value="volvo">8</option>
                                                    <option value="saab">7</option>
                                                    <option value="mercedes">6</option>
                                                </select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Min</mat-label>
                                                <select matNativeControl required name="Min" value="Min" ngModel
                                                    required #HostName="ngModel" class="example-margin">
                                                    <option value="volvo">50</option>
                                                    <option value="saab">49</option>
                                                    <option value="mercedes">48</option>
                                                </select>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>Sec</mat-label>
                                                <select matNativeControl required name="Sec" value="Sec" ngModel
                                                    required #HostName="ngModel" class="example-margin">
                                                    <option value="volvo">7</option>
                                                    <option value="saab">6</option>
                                                    <option value="mercedes">5</option>
                                                </select>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <button type="submit" class="btncolor1">Submit</button>
                                        <button class="btncolor4">Use Browser Time</button>
                                    </tr>
                                </tbody>

                            </table>
                            <br>

                        </form>
                    </div>




                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>


</div>