

<mat-card class="btn-grad">
    <mat-card-header>
        <mat-card-subtitle class="subtitle">Input</mat-card-subtitle>

      <mat-card-title class="title">{{voltV}} Volt</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <table>
        <tr>
            <td>
        <tr>
            <td class="label">
                <div style="margin-right: 80px;">
                  <span class="lable">Frequency</span>
                </div>
    
            </td>
            <td>
                <div >
                  <button mat-button class="btn1">{{freqHz}} Hz</button>
    
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                <div style="margin-right: 80px;">
                  <span class="lable">True Power</span>
  
                </div>
    
            </td>
            <td>
                <div>
                  <button mat-button class="btn2">{{truePowerW}}</button>
  
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                <div style="margin-right: 80px;">
                  <span class="lable">Current</span>
    
                </div>
    
            </td>
            <td>
                <div>
                  <button mat-button class="btn3">{{currA}} A</button>
    
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                <div style="margin-right: 80px;">
                  <span class="lable">Min Voltage</span>
  
                </div>
    
            </td>
            <td>
                <div >
                  <button mat-button class="btn4">{{voltMinV}} V</button>
    
                </div>
    
            </td>
        </tr>
    
  
  
        <tr>
          <td class="label">
              <div style="margin-right: 80px;">
                <span class="lable">Max Voltage</span>
  
              </div>
  
          </td>
          <td>
              <div >
                <button  mat-button class="btn5">{{voltMaxV}} V</button>
              </div>
  
          </td>
      </tr>
    
        </td>
    
    
  
    </tr>
    </table>
  

    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>