<mat-card id='tableResult' style="margin: 10px;">
  <mat-card-header>
    <mat-card-title>Alert Log List</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <table mat-table [dataSource]="alertLogList?.alertLogItems" class="table-container">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">

        <div [ngSwitch]="column.columnDef">
          <ng-container *ngSwitchCase="'operation'">
            <th mat-header-cell fxHide.gt-sm *matHeaderCellDef></th>
            <td mat-cell fxHide.gt-sm *matCellDef="let element">
              <button mat-mini-fab color="primary" type="button" (click)="showDetails(element)">
                <mat-icon>search</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'logText'">
            <th mat-header-cell *matHeaderCellDef fxHide.lt-sm>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element" fxHide.lt-sm>{{column.cell(element)}}</td>
          </ng-container>

          <ng-container *ngSwitchCase="'title'">
            <th mat-header-cell *matHeaderCellDef fxHide.lt-md>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element" fxHide.lt-md>{{column.cell(element)}}</td>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element">{{column.cell(element)}}</td>
          </ng-container>
        </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator [pageIndex]="alertLogList?.pageNumber" [pageSizeOptions]="[10,20,30,40,50]"
      [length]="alertLogList?.total" (page)="pagerFilter.emit($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>

