<mat-card class="dashboard-card">
    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-header class="card-header">
        <mat-card-title>
            
            <h1 class="value-text" >{{upsIpAddress}}</h1>
            
            <!-- <h1 class="value-text" *ngIf="!isCurrency">{{value}}</h1> -->
        </mat-card-title>


        <div mat-card-avatar class="card-icon">
            <!-- <mat-icon [color]="color" class="avatar-icon">{{icon}}</mat-icon> -->
            <mat-icon class="avatar-icon">signal_cellular_alt</mat-icon>

        </div>

    </mat-card-header>
    
    <!-- <h3 class="title-text">1212</h3> -->
    <p class="difference-text">
        <span>
            Battery Status:
        </span>
        <button class="btncolor">{{status}}</button>

        <span class="pad">Seconds On Battery:</span> 
        <button class="btncolor">{{secondsOnBattery}}</button>

        <span class="pad">Minutes Remaining:</span> 
        <button class="btncolor">{{estimatedMinutesRemain}} min</button>
        <br>
        <br>
        <span>Charge Remaining:</span> 
        <button class="btncolor">{{estimatedChargeRemain}} %</button>

        <span class="pad">Battery Voltage:</span> 
        <button class="btncolor">{{voltV}}</button>


        
        <span class="pad">Battery Current:</span> 
        <button class="btncolor">{{currA}}</button>

        <span class="pad">Battery Temperature:</span> 
        <button class="btncolor">{{tempC}}</button>

    </p>


</mat-card>