<mat-card class="dashboard-card">
    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-header class="card-header">
        <mat-card-title>
            
            <h1 class="value-text" >{{UPSName}}</h1>
            
            <!-- <h1 class="value-text" *ngIf="!isCurrency">{{value}}</h1> -->
        </mat-card-title>


        <div mat-card-avatar class="card-icon">
            <!-- <mat-icon [color]="color" class="avatar-icon">{{icon}}</mat-icon> -->
            <mat-icon class="avatar-icon">signal_cellular_alt</mat-icon>

        </div>

    </mat-card-header>
    
    <!-- <h3 class="title-text">1212</h3> -->
    <p class="difference-text">
        <span>
            Power Supply on:
        </span>
        <button class="btncolor">AC</button>

        <span class="pad">Input Voltage:</span> 
        <button class="btncolor">220</button>

        <span class="pad">Output Voltage:</span> 
        <button class="btncolor">220</button>
        <br>
        <br>
        <span>Charging Percent:</span> 
        <button class="btncolor">100 %</button>

        <span class="pad">Minutes Remaining:</span> 
        <button class="btncolor">100 min</button>

    </p>


</mat-card>