<div style="margin-top: 10px;">


    <form class="config-form" [formGroup]="upsconfig" (ngSubmit)="configSubmit()">


        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>InputPutVolt</mat-label>
            <input formControlName="InputPutVolt" matInput placeholder="InputPutVolt"
            [(ngModel)]="config.inputVoltageV" [formControl]="readConf" >
        </mat-form-field>

        <mat-form-field style="margin-right:20px" appearance="fill">
        
        <mat-label>InputPutFreq</mat-label>
            <input formControlName="InputPutFreq" matInput placeholder="InputPutFreq" 
            [(ngModel)]="config.inputFreqHz" [formControl]="readConf">
        </mat-form-field>
     
        <mat-form-field style="margin-right:20px" appearance="fill">

        <mat-label>OutPutVolt</mat-label>
            <input formControlName="OutPutVolt" matInput placeholder="OutPutVolt" 
            [(ngModel)]="config.outputVoltageV" [formControl]="readConf">
        </mat-form-field>


       

        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>OutPutFreq</mat-label>
            <input formControlName="OutPutFreq" matInput placeholder="OutPutFreq" 
            [(ngModel)]="config.outputFreqHz" [formControl]="readConf">

        </mat-form-field>


      

        <mat-form-field style="margin-right:20px" appearance="fill">
            <mat-label>LowBatt</mat-label>
            <input formControlName="LowBatt" matInput placeholder="LowBatt" 
            [(ngModel)]="config.lowBattTime" [formControl]="readConf">
        </mat-form-field>
<br>




        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>LowVolt</mat-label>
            <input formControlName="LowVolt" matInput placeholder="LowVolt" 
            [(ngModel)]="config.lowVoltageTransferPointV" [formControl]="readConf">
        </mat-form-field>



        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>HighVolt</mat-label>
            <input formControlName="HighVolt" matInput placeholder="HighVolt" 
            [(ngModel)]="config.highVoltageTransferPointV" [formControl]="readConf">

        </mat-form-field>


    

        <mat-form-field style="margin-right:20px" appearance="fill">

        <mat-label>BattCapacity</mat-label>
            <input formControlName="BattCapacity" matInput placeholder="BattCapacity"
            [(ngModel)]="config.batteryCapacity" [formControl]="readConf">
        </mat-form-field>

        <mat-form-field style="margin-right:20px" appearance="fill">

        <mat-label>OutPutVA</mat-label>
            <input formControlName="OutPutVA" matInput placeholder="OutPutVA" 
            [(ngModel)]="config.outputVa" [formControl]="readConf" >
        </mat-form-field>


        <mat-form-field appearance="fill">

            <mat-label>OutPutPower</mat-label>
            <input formControlName="OutPutPower" matInput placeholder="OutPutPower"
            [(ngModel)]="config.outputPower" [formControl]="readConf" >

        </mat-form-field>
        <br>


        <button style="margin-left:20px;" mat-raised-button color="primary" type="submit">Submit</button>
		<button  [formControl]="readConf" style="margin-left:10px" mat-raised-button color="accent" (click)="edite()">edite</button>

    </form>

</div>