

<mat-grid-list cols="2" rowHeight="3:1.2">
  
 
    <mat-grid-tile >

      <table>
        <!-- *ngFor="let data of dataSource;"   -->
      <tbody  >
        <tr>

          <td>
            <label for="Student">Power Supplu On:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
        <tr>
    

          <td>
            <label for="Student">Input Voltage:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>
      

        </tr>
        <tr>
        

          <td>
            <label for="Student">OutPut Voltage:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
        <tr>
         

          <td>
            <label for="Student">Charging Percent:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>
      

        </tr>
        <tr>

          <td>
            <label for="Student">Minutes Remaining:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
      </tbody>
      </table>   
         
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>192.168.1.104:211</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <img  mat-card-image  (click)="openDialog()" src="https://cdn0.iconfinder.com/data/icons/computer-hardware-0519/64/ups_power-technology-energy-backup-512.png" alt="Photo of a Shiba Inu">
            </mat-card-content>
           
          </mat-card>

    </mat-grid-tile>


    <mat-grid-tile >
     
      <table mattable >

        <tr>

          <td>
            <label for="Student">Power Supplu On:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
        <tr>
    

          <td>
            <label for="Student">Input Voltage:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>
      

        </tr>
        <tr>
        

          <td>
            <label for="Student">OutPut Voltage:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
        <tr>
         

          <td>
            <label for="Student">Charging Percent:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>
      

        </tr>
        <tr>

          <td>
            <label for="Student">Minutes Remaining:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
   
      </table>   
   

        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>192.168.1.104:211</mat-card-title>
          </mat-card-header>

          <mat-card-content>
              <img  mat-card-image (click)="openDialog()" src="https://cdn0.iconfinder.com/data/icons/computer-hardware-0519/64/ups_power-technology-energy-backup-512.png" alt="Photo of a Shiba Inu">
          </mat-card-content>
         
  

        </mat-card>

     </mat-grid-tile>
  </mat-grid-list>
  
