mat-chip {
    max-width: 200px;
  }
  .align{
    margin-left:25px;
    font-weight: bold;
  }
  .label{
    font-weight:bold;
    font-size: 18px;
  }


  .btncolor{
    margin-left:5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
}