<div style="margin-top: 50px;margin-left:300px;">
 
 <form class="test-form" [formGroup]="upscontrol" (ngSubmit)="ControlSubmit()">


        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>ShutdownType</mat-label>
            <mat-select name="ShutdownType" formControlName="ShutdownType">
                <mat-option  *ngFor="let element of shutdown" name="option"
                [value]="element">{{element}}</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field style="margin-right:20px" appearance="fill">

        <mat-label>AutoRestart</mat-label>
            <mat-select name="AutoRestart" formControlName="AutoRestart">
                <mat-option *ngFor="let element of autoRestart" name="option"
                placeholder="element"
                [value]="element">{{element}}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>ShutdownAfterDelay</mat-label>
                <input formControlName="ShutdownAfterDelay" matInput placeholder="ShutdownAfterDelay"
                [(ngModel)]="defulte.shutdownAfterDelaySec" [formControl]="readCtrldata">
        </mat-form-field>


        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>Startup</mat-label>
            <input formControlName="Startup" matInput placeholder="Startup" 
            [(ngModel)]="defulte.autoRestart" [formControl]="readCtrldata">
        </mat-form-field>
        <br>

        <mat-form-field style="margin-right:20px" appearance="fill">

            <mat-label>Reboot</mat-label>
                <input formControlName="Reboot" matInput placeholder="Reboot" 
                [(ngModel)]="defulte.rebootWithDurationSec" [formControl]="readCtrldata">
        </mat-form-field>



        <button style="margin-left:10px" mat-raised-button color="primary" type="submit">Submit</button> 
		<button style="margin-left:10px" mat-raised-button color="accent"    [formControl]="readCtrldata" (click)="edite()">edite</button>



    </form>

</div>