<table>
    <tr>
        <td>
    <tr>
        <td class="label">
            <div style="margin-right: 80px;">
                <mat-label >Seconds On Battery</mat-label>
            </div>

        </td>
        <td>
            <div style="margin: 4px;">
                <button mat-button style="background-color:yellow;">{{secondsOnBattery}}</button>

            </div>
        </td>
    </tr>
    <tr>
        <td class="label">
            <div style="margin-right: 80px;">
                <mat-label>Voltage</mat-label>

            </div>

        </td>
        <td>
            <div style="margin: 4px;">
                <button mat-button style="background-color:green;">{{voltV}}</button>

            </div>
        </td>
    </tr>
    <tr>
        <td class="label">
            <div style="margin-right: 80px;">
                <mat-label>Current</mat-label>

            </div>

        </td>
        <td>
            <div style="margin: 4px;">
                <button mat-button style="background-color:green;">{{currA}}</button>

            </div>
        </td>
    </tr>
    <tr>
        <td class="label">
            <div style="margin-right: 80px;">
                <mat-label>Input LineBads</mat-label>

            </div>

        </td>
        <td>
            <div style="margin: 4px;">
                <button mat-button style="background-color:yellow   ;">{{lineBads}}</button>

            </div>

        </td>
    </tr>


    </td>


    <td>
        <div style="margin-left:50px;">
            <img style="margin-left: 30px;height:40px;width:40px;" src="../../../../../assets/image/warning.png"/>
            <br>
            <button mat-raised-button color="warn">See Alarms</button>
        </div>
    </td>
    </tr>
</table>