<h1 mat-dialog-title>UPS Identification</h1>
<div mat-dialog-content >

  <mat-grid-list cols="1" rowHeight="1:1">


    <mat-grid-tile >
      <table >

        <tr>

          <td>
            <label for="Student">Manufacture:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
        <tr>
    

          <td>
            <label for="Student">Model:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>
      

        </tr>
        <tr>
        

          <td>
            <label for="Student">Software Version:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
        <tr>
         

          <td>
            <label for="Student">ComPort Version:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>
      

        </tr>
        <tr>

          <td>
            <label for="Student">UPS Attached Device:</label>
          </td>
          <td>
            <button  mat-button>sdfsdf</button>
          </td>

        </tr>
   
      </table>  
     
    </mat-grid-tile>
  
   
  
  
  </mat-grid-list>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>

