<div class="example-large-box mat-elevation-z4">
    <div class="net-image">


      <form class="net-form" >

        <table>
          <tbody>

            <tr>

              <td>
                <label class="net-lbl" for="Student">Host Name:</label>
              </td>
              <td>
                <input class="net-lbl" matInput placeholder="GEDE-SNMP-UPS-Interface">
              </td>

            </tr>
          </tbody>

        </table>
        <div>
          <mat-radio-group [formControl]="floatLabelControl">
            <mat-radio-button class="net-lbl" value="DHCP" name="DHCP">Obtain IP by DHCP</mat-radio-button>
            <br>
            <mat-radio-button class="net-lbl" value="BOOTP" name="BOOTP" >Obtain IP by BOOTP</mat-radio-button>
            <br>
            <mat-radio-button class="net-lbl" value="address" name="address">Static IP address</mat-radio-button>
          </mat-radio-group>
          <table style="margin-left: 50px;">
            <tbody>
              <tr>

                <td>
                  <label class="net-lbl" for="Student">IP Address:</label>
                </td>
                <td>
                  <input class="net-lbl" matInput placeholder="IPAddress" >
                </td>

              </tr>

              <tr>

                <td>
                  <label class="net-lbl" for="Student">Subnet Mask:</label>
                </td>
                <td>
                  <input class="net-lbl" matInput placeholder="Subnet Mask" >
                </td>

              </tr>
              <tr>

                <td>
                  <label class="net-lbl" for="Student">Gatway:</label>
                </td>
                <td>
                  <input class="net-lbl" matInput placeholder="Getway">
                </td>

              </tr>
            </tbody>

          </table>
          <mat-radio-group [formControl]="floatLabelControl">

            <mat-radio-button class="net-lbl" value="DNS_Automatically" name="DNS_Automatically">Obtain DNS Automatically</mat-radio-button>
            <br>
            <mat-radio-button class="net-lbl" value="DNS_Manually" name="DNS_Manually" >Set DNS Manually</mat-radio-button>
            <br>
            <table style="margin-left: 50px;">
              <tbody>


                <tr>

                  <td>
                    <label class="net-lbl" for="Student">Primary DNS:</label>
                  </td>
                  <td>
                    <input class="net-lbl" matInput placeholder="Primary DNS" value="Primary" name="Primary" >
                  </td>

                </tr>
                <tr>

                  <td>
                    <label class="net-lbl" for="Student">Secondary DNS:</label>
                  </td>
                  <td>
                    <input class="net-lbl" matInput placeholder="Secondary DNS"  name="Secondary"
                   >
                  </td>

                </tr>

              </tbody>

            </table>

          </mat-radio-group>
        </div>

        <button class="btncolor1" type="submit">Submit</button>
        <button class="btncolor4">Defsult</button>
        <button class="btncolor3">Refresh</button>
      </form>
    </div>

  </div>
