.flex-row {
    display: flex;
    flex-direction: row;
    > div {
      flex: 50%;
      padding: 10px;
      background: bisque;
      
    }
    > .temp {
        background: bisque;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
    }

  }

  .big-text {
    font-size: 35px;
}