.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
    max-width: 150px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 245px;
    overflow-y: auto;
  }


  .item {
    margin: 3px;
    text-align: center;
    box-shadow: 0 0  4px rgba(0,0,0,0.3);
  }
