.mat-card{
    height:300px;
    // background: rgb(34,193,195);
    // background: linear-gradient(332deg, rgba(34,193,195,1) 0%, rgba(253,45,245,1) 100%);
    background: rgb(245,245,245);
background: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(46,204,196,1) 100%);
    
    
  }
  
  .mat-card::ng-deep.mat-card-header-text {
    height: 120px;
    width: 190px
  }
  .subtitle{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  
  .title{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }
  .lable{
    font-weight: bold;
    font-size: 14px;
    
  }
  .btn1{
    background-color:green ;
    margin-left:70px;
    margin-top: 3px;
  }
  .btn2{
    background-color:gray ;
    margin-left:95px;
    margin-top: 3px;
  
  }
  .btn3{  
    background-color:green ;
    margin-left: 15px;
    margin-left:90px;
    margin-top: 3px;
  
  }
  .btn4{
    background-color:yellow ;
    margin-left:60px;
    margin-top: 3px;
  
  }
  .btn5{
    background-color:yellow ;
    margin-left:58px;
    margin-top: 3px;
  
  }