<div class="grid-container">

  <mat-grid-list cols="6" rowHeight="130px">

    <mat-grid-tile colspan="1" rowspan="1">
      <app-temp1></app-temp1>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <app-battery1></app-battery1>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="3" style="background-color:transparent;">
      <app-input1></app-input1>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="1" rowspan="3" style="background-color:transparent">
      <app-output1></app-output1>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3" style="background-color:transparent;">
      <app-bypass1></app-bypass1>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3" style="background-color:transparent ;">
    <app-status1> </app-status1>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2">
      <app-batteryinfo1></app-batteryinfo1>

    </mat-grid-tile>

  </mat-grid-list>

  <mat-divider></mat-divider>


  <mat-grid-list cols="1" style="margin: 40px;" rowHeight="410px">


    <mat-grid-tile>
      <app-alarmtable></app-alarmtable>
    </mat-grid-tile>


  
  </mat-grid-list>


</div>


<!-- <h1 class="mat-h1">Dashboard</h1> -->
<!-- <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
  <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout | async )?.miniCard.cols"
   
  [rowspan]="( cardLayout | async )?.miniCard.rows">
    <app-mini-card 
    [upsIpAddress]="mc.upsIpAddress" 
    [estimatedChargeRemain]="mc.estimatedChargeRemain" 
    [estimatedMinutesRemain]="mc.estimatedMinutesRemain"
    [secondsOnBattery]="mc.secondsOnBattery" 
    [voltV]="mc.voltV"
    [currA]="mc.currA"
    [status]="mc.status"
    [tempC]="mc.tempC"
    
    >
  </app-mini-card>
  </mat-grid-tile> -->
<!--Charts-->
<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="Monthly Revenue">
      <app-annual-sale-chart></app-annual-sale-chart>
    </app-card>
  </mat-grid-tile> -->
<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="Product Sales">
      <app-product-sales-chart></app-product-sales-chart>
    </app-card>
  </mat-grid-tile> -->
<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="Sales by Traffic Source">
      <app-sales-traffic-chart></app-sales-traffic-chart>
    </app-card>
  </mat-grid-tile> -->
<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="Input Chart">
      <app-store-sessions-chart></app-store-sessions-chart>
    </app-card>
  </mat-grid-tile> -->

<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="Output Chart">
      <app-output></app-output>
    </app-card>
  </mat-grid-tile> -->

<!-- <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
    <app-card title="ByPass Chart">
      <app-bypass></app-bypass>
    </app-card>
  </mat-grid-tile>

<mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
   
  </mat-grid-tile>
  
</mat-grid-list> -->
<!-- <header> 
  <h3>Alarm Table</h3>
</header> 

<app-alarmtable></app-alarmtable> -->