<mat-card>
  <div fxLayout="row">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  </div>
</mat-card>

<div class="example-container mat-elevation-z8">
  <mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="telegramId">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Id">{{row.telegramId}}</mat-cell>mat-cell>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="name"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell fxHide fxShow.gt-xs *matHeaderCellDef mat-sort-header> description </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="description"> {{row.description}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="saveInHistory">
      <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef> saveInHistory </mat-header-cell>
      <mat-cell fxHide fxShow.gt-sm *matCellDef="let row" data-label="saveInHistory">
        <mat-checkbox [disabled]="true" [(ngModel)]="row.saveInHistory"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef> enabled </mat-header-cell>
      <mat-cell fxHide fxShow.gt-sm *matCellDef="let row" data-label="enabled">
        <mat-checkbox [disabled]="true" [(ngModel)]="row.enabled"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row wrap" >
        <button color="accent" mat-button (click)="editTelegram(row)">Edit</button>
        <button color="primary" mat-button (click)="showBody(row)">Body</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
