<mat-grid-list cols="2" rowHeight="6:1.8">

  <mat-grid-tile >

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    

      <ng-container matColumnDef="phase">
        <th mat-header-cell *matHeaderCellDef> Phase </th>
        <td mat-cell *matCellDef="let element"> {{element.phase}} </td>
      </ng-container>
      <ng-container matColumnDef="freq">
        <th mat-header-cell *matHeaderCellDef> Freq(Hz)</th>
        <td mat-cell *matCellDef="let element"> {{element.freq}} </td>
      </ng-container>
      <ng-container matColumnDef="volt">
        <th mat-header-cell *matHeaderCellDef> Volt(V) </th>
        <td mat-cell *matCellDef="let element"> {{element.volt}} </td>
      </ng-container>
      <ng-container matColumnDef="curr">
        <th mat-header-cell *matHeaderCellDef>Curr</th>
        <td mat-cell *matCellDef="let element"> {{element.curr}} </td>
      </ng-container>
      <ng-container matColumnDef="truepower">
        <th mat-header-cell *matHeaderCellDef> Power(W)</th>
        <td mat-cell *matCellDef="let element"> {{element.truepower}} </td>
      </ng-container>
      <ng-container matColumnDef="voltmin">
        <th mat-header-cell *matHeaderCellDef> VoltMin </th>
        <td mat-cell *matCellDef="let element"> {{element.voltmin}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="voltmax">
        <th mat-header-cell *matHeaderCellDef> VoltMax </th>
        <td mat-cell   *matCellDef="let element">
             <button  mat-button>{{element.voltmax}}</button>

        </td>
  
      </ng-container>
    
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    

      <ng-container matColumnDef="phase">
        <th mat-header-cell *matHeaderCellDef> Phase </th>
        <td mat-cell *matCellDef="let element"> {{element.phase}} </td>
      </ng-container>
  
      <ng-container matColumnDef="volt">
        <th mat-header-cell *matHeaderCellDef> Volt(V) </th>
        <td mat-cell *matCellDef="let element"> {{element.volt}} </td>
      </ng-container>
      <ng-container matColumnDef="curr">
        <th mat-header-cell *matHeaderCellDef>Curr</th>
        <td mat-cell *matCellDef="let element"> {{element.curr}} </td>
      </ng-container>
      <ng-container matColumnDef="power">
        <th mat-header-cell *matHeaderCellDef> Power(W)</th>
        <td mat-cell *matCellDef="let element"> {{element.power}} </td>
      </ng-container>
      <ng-container matColumnDef="load">
        <th mat-header-cell *matHeaderCellDef> Load </th>
        <td mat-cell *matCellDef="let element"> {{element.load}} </td>
      </ng-container>
  
    
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

    </table>


    
  </mat-grid-tile>


  <mat-grid-tile >

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
  
        <ng-container matColumnDef="phase">
          <th mat-header-cell *matHeaderCellDef> Phase </th>
          <td mat-cell *matCellDef="let element"> {{element.phase}} </td>
        </ng-container>
        <ng-container matColumnDef="freq">
          <th mat-header-cell *matHeaderCellDef> Freq(Hz)</th>
          <td mat-cell *matCellDef="let element"> {{element.freq}} </td>
        </ng-container>
        <ng-container matColumnDef="volt">
          <th mat-header-cell *matHeaderCellDef> Volt(V) </th>
          <td mat-cell *matCellDef="let element"> {{element.volt}} </td>
        </ng-container>
        <ng-container matColumnDef="curr">
          <th mat-header-cell *matHeaderCellDef>Curr</th>
          <td mat-cell *matCellDef="let element"> {{element.curr}} </td>
        </ng-container>
        <ng-container matColumnDef="truepower">
          <th mat-header-cell *matHeaderCellDef> Power(W)</th>
          <td mat-cell *matCellDef="let element"> {{element.truepower}} </td>
        </ng-container>
        <ng-container matColumnDef="voltmin">
          <th mat-header-cell *matHeaderCellDef> VoltMin </th>
          <td mat-cell *matCellDef="let element"> {{element.voltmin}} </td>
        </ng-container>
      
      
        <ng-container matColumnDef="voltmax">
          <th mat-header-cell *matHeaderCellDef> VoltMax </th>
          <td mat-cell   *matCellDef="let element">
               <button  mat-button>{{element.voltmax}}</button>
  
          </td>
    
        </ng-container>
      
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
  
  
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
  
        <ng-container matColumnDef="phase">
          <th mat-header-cell *matHeaderCellDef> Phase </th>
          <td mat-cell *matCellDef="let element"> {{element.phase}} </td>
        </ng-container>
    
        <ng-container matColumnDef="volt">
          <th mat-header-cell *matHeaderCellDef> Volt(V) </th>
          <td mat-cell *matCellDef="let element"> {{element.volt}} </td>
        </ng-container>
        <ng-container matColumnDef="curr">
          <th mat-header-cell *matHeaderCellDef>Curr</th>
          <td mat-cell *matCellDef="let element"> {{element.curr}} </td>
        </ng-container>
        <ng-container matColumnDef="power">
          <th mat-header-cell *matHeaderCellDef> Power(W)</th>
          <td mat-cell *matCellDef="let element"> {{element.power}} </td>
        </ng-container>
        <ng-container matColumnDef="load">
          <th mat-header-cell *matHeaderCellDef> Load </th>
          <td mat-cell *matCellDef="let element"> {{element.load}} </td>
        </ng-container>
    
      
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  
      </table>
  
  
      
    </mat-grid-tile>
  


</mat-grid-list>
