

<mat-card >
    <mat-card-header>

      <mat-card-title class="title">Server</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex-row">
            <div class="temp">
             
              <span class="lable">H2 Server</span>
              <button mat-button class="btn1">Primary</button>
            </div>
           
      </div>
      <div class="flex-row">
        <div class="temp">
         
          <span class="lable">HNx Server</span>
          <button mat-button class="btn2">Primary</button>
        </div>
       
  </div>
  <div class="flex-row">
    <div class="temp">
     
      <span class="lable">H2 Server</span>
      <button mat-button class="btn3">Primary</button>
    </div>
   
</div>

    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>